<div class="top-container entries-container">
  <h1>New Entry</h1>
</div>
<%= form_for @entry do |f| %>
  <div class='section-new'>
    <%= f.label :title, 'Title', class: 'title-label' %>
    <%= f.text_field :title, placeholder: Time.now.strftime('%F'), class: 'title-field' %>
  </div>
  <div class="section-new new-entry-body">
    <%= f.text_area :body, autofocus: true, placeholder: "What's on your mind?" %>
  </div>

  <div class="section-new">
    <%= f.submit 'Save', class: 'submit' %>
  </div>
<% end %>
